body { 
  font-family : 'Roboto', serif;
  background-color :#dcd0ff;
}

.mainbody { 
  padding-top : 2%;
}

a { 
  color : black;
}

a:hover {
  color : rgb(87, 8, 87);
  text-decoration: underline;
}

a#video-list-item {
}

.overview-metadata{
  font-family : "Montserrat", sans-serif;
  font-size:2em;
  font-weight : 600;
  text-align :left;
  padding-top: 2%;
}

.overview-metadata a {
  color : purple;
} 

.overview-metadata span {
  color:purple;
}

p#title {
  font-family : "Montserrat", sans-serif;
  font-weight: 600;
  font-size : 1.3em;
} 

#keywords img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

h2.about {
  font-family : "Noto Sans KR" ,"Montserrat", sans-serif;
  font-weight: 600;
  font-size:3em;
}

h2.about-en {
  font-family : "Montserrat", sans-serif;
  font-weight: 600;
  font-size:3em;
}




/* main title */
#title {
    color: black ;
    text-align: left;
    padding: 10px;
    font-family : 'Montserrat', sans-serif;
}


#search-video-container {
  text-align: center;
  margin : none;
  border :  0.1em solid black;
}

#player {
  width : 50%;
  border : 1px solid blue;
}

#dist_graph{
  width : 100%;
  border : 1px solid red;
  text-align : center;

}


  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}





/* Dropdown */
.hide {
  max-height: 0 !important;
}

.dropdown{
border: 0.2em solid black;
width: 50%;
margin-bottom: 1em;
font-family : "Montserrat", sans-serif;
font-weight : 600;
font-size : 1.5em;
text-align : center;
}

.dropdown .title{
margin: .3em .3em .3em .3em;
width: 100%;
}

.dropdown .title .fa-angle-right{
float: right;
margin-right: .7em;
transition: transform .3s;
}

.dropdown .menu{
transition: max-height .5s ease-out;
max-height: 20em;
overflow: hidden;
}

.dropdown .menu .option{
margin: .3em .3em .3em .3em;
margin-top: 0.3em;
}

.dropdown .menu .option:hover{
 /*background: rgba(255,255,255,0.4);*/
  text-decoration : underline;
}


.pointerCursor:hover{
cursor: pointer;
}

.rotate-90{
transform: rotate(90deg);
}



/* Tab */
nav {
  font-family : "Montserrat", sans-serif;
}


.navbar-brand { 
  font-size: 1.3em;
  font-weight: 600;
}

.navbar-nav{
  font-weight:600;
}


.tab {
  text-align : center;
  /* padding: 10px */
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  text-align: center;
  outline: none;
  cursor: pointer;
  margin:auto;
  /* padding: 14px 16px; */
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}




/* accordion */
.accordion { 
}

.accordion .fa{
        margin-right: 0.5rem;
    }
.card-header { 
  font-family : "Montserrat", sans-serif;
  font-weight : 600;
  background-color :#dcd0ff;
  border-radius: 0px;
  padding : 0.2em;
  border: 0.2em solid black;
} 

.inside { 
  border: 0.2em solid black;
}


.card-header .btn {
  border-radius: 0px;
  font-size : 0.7em;
  font-weight: 600;
  color : black;
  border: none;
}

.card {
  border-radius: 0px;
  border : none;
}





