{% extends 'base.html' %}

{% block content %}
  <div class="container"> 
    <h2 class="about">안녕하세요</h2>
    <h2 class="about-en">Annyeonghaseyo</h2>
    <p> This project was inspired during reading Youtube comments of BTS videos. 
    <br> Some questions I had in mind were 
    <ul>
      <li>Which moments do ARMYs like the most? What is so memorable about them?</li>
      <li>Couldn't comment data be used for highlight detection?</li> 
      <li>Maybe this can help make memes and "funny compilation videos"?</li>
    </ul>
    </br>If anyone wants more detail, here is a <a href="https://kyungyunlee.github.io/projects/bts_comments" target="_blank" rel="noopener noreferrer">link to my blog post</a>. Hope you enjoy.</p>
    <p> This is for BTS and ARMY 💜 </p>
    <iframe src="https://giphy.com/embed/8PduhjwiOxtNjieurJ" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p> <a href="https://kyungyunlee.github.io" target="_blank" rel="noopener noreferrer">My website</a></p>
    <p> <a href="https://github.com/kyungyunlee/bts_youtube_highlighter" target="_blank" rel="noopener noreferrer">Github</a></p>
    <p> <a href="mailto: kyungyunlee@kaist.ac.kr" target="_blank" rel="noopener noreferrer">kyungyunlee@kaist.ac.kr</a></p>
  </div>
{% endblock %}
