{% extends 'base.html' %}

{% block content %}

<div class="container dropdown">
  <div class="title pointerCursor">Data overview<i class="fa fa-angle-right"></i></div>
  <div class="menu pointerCursor hide">

    <div class="option" id="option4">
      Data Overview
    </div>
    <div class="option" id="option1">
      ARMY's favorite moments
    </div>
    <div class="option" id="option2">
      Popular keywords
    </div>
    <div class="option" id="option3">
      Sentiment analysis
    </div>

  </div>
</div>

<div class="container">
  <div id="overview" class="container overview-metadata" style="display:initial;">
    <p>Data collected around Nov ~ Dec 5, 2020.</p>
    <p>Videos are from official
      <a href="https://www.youtube.com/channel/UCLkAepWjdylmXSltofFvsYQ" target="_blank"
        rel="noopener noreferrer">BANGTANTV</a> playlists:
      <a href="https://www.youtube.com/playlist?list=PL5hrGMysD_Gu2a7-KuaQTxjRVPqM2Bi63" target="_blank"
        rel="noopener noreferrer">BANGTAN BOMB</a>,
      <a href="https://www.youtube.com/playlist?list=PL5hrGMysD_Gt2ekpVt25B6C5ozZjVxQdh" target="_blank"
        rel="noopener noreferrer">BTS EPISODE</a>,
      <a href="https://www.youtube.com/playlist?list=PL5hrGMysD_GvZPFPcdm9NCqKfQKPYrkFh" target="_blank"
        rel="noopener noreferrer">BTS FESTA</a>.
    </p>
    <p>Total <span>{{n_videos}}</span> videos, <span>{{n_comments}}</span> comments.</p>
    <p>Average of <span>{{avg_comments}}</span> comments per video.</p>
  </div>

  <!-- <span id="result">The result is : </span> -->
  <!-- <h4 id="result">  </h4> -->
  <!-- <div class="container" id="keywords">
          <h4 > Keywords </h4>
          <div>
              {{ keywords }}
          </div>
      </div> -->


  <!-- <h4> Popular frames </h4> -->
  <div class="container" id="popular_frames" style="display:none;">
    <p id="title">Here is a list of moments with the most comments</p>
    {% for pair in most_commented_scenes %}

    <div class="container" id="video_container">
      <p id="video-desc"> At {{ pair[3] }}, {{ pair[4] }} comments </p>
      <div class="row">
        <div class="col-sm-5">
          <div class="videoWrapper">
            <iframe id="vidplayer" type="text/html" width="560" height="349"
              src="https://www.youtube.com/embed/{{ pair[1] }}?start={{ pair[2] }}" frameborder="0"></iframe>
          </div>
          <div id="video-title">
            {{ pair[0] }}
          </div>
        </div>
        <div class="col-sm-7">
          <div class="overflow-auto" id="comment_for_video">
            <p>{{ pair[5] }}</p>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>


  <div class="container" id="keywords" style="display:none;">

    <p id="title">Here are top keywords from comments</p>
    <div>
      {{ keywords }}
    </div>

    <img src={{wordcloud_f}} class="center">

  </div>



  <div class="container" id="sentiment_count" style="display:none;">
    <div class="row">
      <div class="col-1" id="gradient-box-container">
        <div id="gradient-box">
        </div>
      </div>

      <div class="col-11" id="sentiment-data">
        <div style="display:none" id="sentiment_score_list">{{ sentiment_score_list }}</div>
        <div style="display:none" id="sentiment_score_dict">{{ sentiment_score_dict | tojson }}</div>
        {% for k,v in sentiment_score_dict.items() %}
        <a data-toggle="collapse" href="#collapseExample_{{ loop.index }}" aria-expanded="false"
          aria-controls="collapseExample_{{ loop.index }}">
          <div>{{k}}</div>
        </a>
        <div class="collapse" id="collapseExample_{{loop.index}}" aria-expanded="false"
          aria-controls="collapseExample_{{loop.index}}">
          <div class="card card-body" id="sentiment-cardbody" style="background-color:rgba(0,0,0,0.07);">
            <div class="overflow-auto">{{v}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<a href="#top">Back to top of page</a>

{% endblock %}
