{% extends 'base.html' %} {% block content %}

<div class="container dropdown">
  <div class="title pointerCursor">
    Popular keywords<i class="fa fa-angle-right"></i>
  </div>
  <div class="menu pointerCursor hide">
    <div class="option" id="option4">
      <a href="/main">Data Overview</a>
    </div>
    <div class="option" id="option1">
      <a href="/main/moments/0">ARMY's notable moments</a>
    </div>
    <div class="option" id="option2">
      <a href="/main/keywords">Popular keywords</a>
    </div>
    <div class="option" id="option3">
      <a href="/main/sentiment">Sentiment analysis</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="container" id="keywords">
    <p id="title">Here are top keywords from comments</p>
    <div>{{ keywords }}</div>

    <img src="{{wordcloud_f}}" class="center" />
  </div>

  {% endblock %}
</div>
