{% extends 'base.html' %} {% block content %}

<!-- <input type="text" placeholder="Search.."> -->
<!-- 왼쪽에 유튭 제목 리스트 나열해서 고를 수 있게. 그리고 search도 가능하게 -->

<div class="accordion" id="accordionExample">
  {% for pair in playlist_list %}
  <div class="card">
    <div class="card-header" id="section_{{ pair[0] }}">
      <div class="mb-0">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapse_{{ pair[0] }}"
          aria-expanded="true"
          aria-controls="collapse_{{pair[0]}}"
        >
          <i class="fa fa-plus"></i>
          {{ pair[0] }}
        </button>
      </div>
    </div>

    <div
      id="collapse_{{ pair[0]}}"
      class="collapse"
      aria-labelledby="section_{{ pair[0] }}"
      data-parent="#accordionExample"
    >
      <div class="card-body">
        <ul>
          {% for vid_id in pair[1] %}
          <li>
            <a href="/video/{{vid_id[1]}}" id="video-list-item"
              >{{ vid_id[0] }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container" id="search-video-container">
  <div class="container video-description">
    <!--<div id="mainvideo-subtitle">
        <a href="https://www.youtube.com/watch?v={{ youtube_id }}" target="_blank" rel="noopener noreferrer">
        Link to youtube video 
      </a>
    </div> 
    <div>-->
    <p id="mainvideo-subtitle">Total of {{n_comments}} comments</p>

    <div id="video_keywords">
      <i>" {% for kw in keywords %} {{ kw[0] }}, {% endfor %} " </i>
    </div>
  </div>

  <div class="container" id="mainVideo-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="mainvideoWrapper">
          <div id="player">{{ youtube_id }}</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="overflow-auto" id="timestamp_comments"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <h5 id="mainvideo-subtitle">Comment histogram</h5>
    <p>Hover over the bars. Click to watch that moment. Zoom in, if needed.</p>
  </div>
  <div id="dist_graph"></div>
  <div id="comment_graph"></div>
  <div id="hoverInfo"></div>

  <div id="video_sentiments" style="display: none">
    {{ sentiments | tojson }}
  </div>

  <div class="container">
    <h5 id="mainvideo-subtitle">Sentiment histogram</h5>
    <div id="sentiment_graph"></div>
  </div>
</div>

<div id="duration" style="display: none"></div>

<div id="all-comments" style="display: none">{{ comments | tojson }}</div>

<div id="counts" style="display: none">{{ counts }}</div>

{% endblock %}
